<%- include("header") -%>
<h2>About us</h2>
<p> dwfeergergeg gfwrgwgfe fefrefjqe fdqfhuef efuehfuwefwuee fueof efewfwf
    fewjufhwuefbnwf fniwoehfowihfiwef jwehfuhwefhief fhwiefhwiehfiwfhwif jfhewfihwfihwfoiw
     fdbefgwiefubwe oiqdjqwjfdwefwe weufhywuefnbjefwe.
</p>

<%- include("footer") -%>
