<!-- With this, we don't have to copy paste header and footer everytime we create a new page -->
<%- include("header") -%>

<body>
     <div class="box" id="heading">
          <h1>
               <%= kindofDay %>
          </h1>
     </div>

     <div class="box">
          <% for (var i=0; i < newItem.length; i++) { %>
               <div class="item">
                    <input type="checkbox">
                    <p>
                         <%= newItem[i] %>
                    </p>
                  
               </div>
               <% } %>
               <form class = "item" action="/" method="post">
                    <input type="text" name="add_to_list" placeholder="New Item" autocomplete="off">
                    <button type="submit" name="button">+</button>
               </form>
     </div>




</body>

<%- include("footer") -%>

</html>